.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-shelfie {
  font-family: "Open Sans", sans-serif;
  height: 20vh;
  width: 100vw;
  background-color: #ab2a19;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
}

.form-shelfie {
  height: 550px;
  width: 300px;
  margin: 20px;
  border: 1px solid black;
  background-color: #3ad886;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.product {
  height: 250px;
  width: 600px;
  margin: 10px;
  background-color: #d34735;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.button-form {
  background-color: #ed6b59;
}

.product-buttons {
  background-color: #3ad886;
  height: 30px;
  width: 50px;
}

.textProduct {
  font-size: 20px;
}

/* .productDelete {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
} */
